{% extends 'base.html' %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="ru"> 
  <head> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Подключены иконки, стили и заполенены мета теги -->
    {% block title %}
      Профайл пользователя {{ profile.username }}
    {% endblock %}
  </head>
  <body>       
    <header>
      <nav class="navbar navbar-light" style="background-color: lightskyblue">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="/static/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <span style="color:red">Ya</span>tube
          </a>
        </div>
      </nav>      
    </header>
    <main>
      <div class="mb-5">
        {% block content %}    
          {% for post in page_obj %}
            <h1>Все посты пользователя {{ profile.username }} </h1>
            <h3>Всего постов: {{ profile.posts.count }} </h3>
            {% if following %}
    <a
      class="btn btn-lg btn-light"
      href="{% url 'posts:profile_unfollow' profile.username %}" role="button"
    >
      Отписаться
    </a>
  {% else %}
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' profile.username %}" role="button"
      >
        Подписаться
      </a>
   {% endif %}
</div> 
            <article>
          <ul>
            <li>
              Автор: {{ profile.username }}
              <a href="{% url 'posts:profile' username=profile.username %}">все посты пользователя</a>
             
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
          {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
          <p>
            {{ post.text }}
          </p>
          <a href="{% url 'posts:profile' username=profile.username %}">подробная информация </a>
        </article>  
         {% if post.group %}    
          <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы</a> 
         {% endif %}       
        <hr>
        {% endfor %}
        <!-- Остальные посты. после последнего нет черты -->
        <!-- Здесь подключён паджинатор --> 
        {% include 'posts/includes/paginator.html' %}
        {% endblock %} 
      